extends /include/pug/layout/_layout

include /include/pug/component/_page-title

block prepend title 
  - const pageTitle = "top"

block content 
  +page-title(title)
  section 
    h2.sec-title コンポーネント読み込み
    p pug：#[code include /include/pug/_filename]
    p 下層ページもルートパスで指定してください。
      a(href='/about/') サンプル
    p scss：#[code @use 'style' as *;]
  section 
    h2.sec-title 使い方
    p #[code src/public]にページの管理、#[code src/include]にコンポーネントの管理をしてください。
    p 開発時には#[code npm run watch]を使用してください。
    p #[code pug],#[code scss],#[code typescript]を監視しながらlive-serverを立ち上げることで擬似的にホットリロードを実現しています。
    p 監視する対象を#[code npm run watch:pug]など、対象を制限することもできます。
    p 単独でlive-serverを立てる場合は#[code npm run serve]を使用してください。
    p コンパイルされたものはdistの中に格納されます。サーバーに上げる際はそちらをご利用ください。